$esBlue: #091c7b;
$esLightBlue: #e8edff;
$black: #000000;
$white: #ffffff;

@mixin esThemeBlue(){
	color: $esBlue !important;
}
@mixin marginT($value){
  margin-top: $value;
}
@mixin marginB($value){
  margin-bottom: $value;
}
@mixin subSideBarActive(){
  background-color: $white;
  border: 1px solid $esBlue;
}
@mixin upperCased(){
  text-transform: uppercase;
}
@mixin noOutline(){
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

button,
button:active,
button:focus,
button:active:focus,
{
  @include noOutline();
}
input,
input:focus,
input:visited,
input:active:focus,
{
  @include noOutline();
}

.sidebar{
	position: fixed;
  background-color: #fff;
  box-shadow: 1px 1px 7px #ddd;
  height: 100%;
  width: 200px;
  z-index: 100;
  ul{
  	padding-left: 0;
  	li{
  		list-style-type: none;
  	}
  	li.logo-li{
  		img.logo{
		    width: 170px;
		    margin-left: 15px;
		    margin-top: 8px;
  		}
  	}
  	li.nav-link{
  		padding: 1rem 1rem !important;
  		a{
  			color: #222222;
  			font-size: 15px;
  			font-weight: bold;
  			text-transform: uppercase;
  			.link-icon{
  				font-size: 20px;
  				margin-right: 10px;
  				position: relative;
  				top: 2px;
          width: 30px;
  			}
  		}
  		a:hover{
  			text-decoration: none;
  		}
  	}
  	li.nav-link.active,
  	li.nav-link:hover,
  	{
  		background-color: $esLightBlue;
  		a{
  			@include esThemeBlue();
  		}
  	}
  	li.app-version{
  		position: absolute;
	    bottom: 0;
	    padding: 15px;
	    font-size: 13px;
  	}
  }
  .system-type{
  	margin-bottom: 20px;
  	margin-top: 25px;
  	.dropdown-toggle{
  		font-size: 14px;
	    border-radius: 17px;
	    margin-left: 10px;
	    padding: 0 20px 3px 20px;
  		background-color: $esBlue !important;
	    width: 180px;
  	}
  	.dropdown-toggle:after{
  		left: 4px;
  		position: relative;
  		top: 4px;
  	}
  	.dropdown-menu{
  		left: 4px !important;
  		.dropdown-item{
  			font-size: 14px;
  		}
  		.dropdown-item:active{
  			background-color: $esBlue;
  		}
  	}
  }
}
.main-nav{
	.main-link{
		@include esThemeBlue();
		font-weight: bolder;
	}
	.logout{
		cursor: pointer;
	}
	.user-text,
  .notification-icon
  {
		margin-right: 20px;
	}
}
.content{
	background-color: #ececec;
	padding-left: 200px;
	.test{
		background-color: green;
		margin: 10px;
		height: 500px;
	}
}
.sub-sidebar{
  background-color: #eee;
  float: left;
  height: 100%;
  padding: 10px;
  position: absolute;
  width: 180px;
  .ss-add-btn{
    color: $white;
  }
  ul{
    padding-left: 0;
    li{
      list-style-type: none;
    }
    li.add-btn-wrap{
      @include  marginB(20px);
    }
    li.page-title{
      @include  marginB(10px);
      span{
        font-size: 30px;
        font-weight: bold;
      }
    }
    li.nav-link-header{
      font-size: 16px;
      font-weight: bold;
      padding: 10px 1px;
      pointer-events: none;
      text-transform: uppercase;
      a{
        color: $black;
      }
    }
    li.divider{
      border-bottom: 1px solid #ababab;
      margin: 20px 15px 15px;
    }
    li.nav-link{
      background-color: #dcdcdc;
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      cursor: pointer;
      padding: 1px 15px;
      margin-bottom: 13px;
      a{
        color: #555;
        font-weight: 600;
      }
      a:hover{
        text-decoration: none;
      }
    }
    li.nav-link.active,
    li.nav-link:hover
    {
      @include subSideBarActive();
    }
  }
}
.with-subsidebar{
  padding-left: 185px;
  padding-top: 70px;
  .page-header{
    .es-main-btn{
      margin-top: -6px;
      margin-left: 20px;
    }
  }
  .advanced-filter{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  .table{
    thead{
      th{
        @include upperCased();
      }
    }
    tbody{
      background-color: $white;
      td{
        @include upperCased();
        button.btn{
          margin-right: 5px;
          .text-white{
            color: $white;
          }
        }
      }
    }
  }
}

/* -- reusable/global styles -- */
.es-main-btn{
  background-color: $esBlue;
}
.es-main-btn:hover,
.es-main-btn:active,
.es-main-btn:focus,
.es-main-btn:active:focus,
.es-main-btn:not(:disabled):not(.disabled):active,
{
  background-color: #1331c5;
}
.one-input-search{
  @include marginT(15px);
}
.black{
	color: $black;
}
.esBlue{
	@include esThemeBlue();
}
.font10{
  font-size: 10px;
}
.space{
  height: 10px;
}


/*
*
scrollbar appearance
*
*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}