$esBlue: #091c7b;
$esGray: #ececec;
$esLightBlue: #e8edff;
$black: #000000;
$white: #ffffff;

@mixin esThemeBlue(){
	color: $esBlue !important;
}
@mixin marginT($value){
  margin-top: $value;
}
@mixin marginB($value){
  margin-bottom: $value;
}
@mixin subSideBarActive(){
  background-color: $white;
  border: 1px solid $esBlue;
}
@mixin upperCased(){
  text-transform: uppercase;
}
@mixin noOutline(){
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
@mixin fontSize($value){
  font-size: $value;
}

@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen/Oxygen-Bold.ttf');
  src: url('../fonts/Oxygen/Oxygen-Light.ttf');
  src: url('../fonts/Oxygen/Oxygen-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/Noto_Sans/NotoSans-BoldItalic.ttf');
  src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf');
  src: url('../fonts/Noto_Sans/NotoSans-Italic.ttf');
  src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf');
}

body{
  background-color: $esGray;
  font-family: 'Noto Sans';
}
h1,h2,h3,h4,h5,h6,
span,a,label,p,button,
strong,em,i,b,input,
td,th{
  font-family: 'Noto Sans';
}

button,
button:active,
button:focus,
button:active:focus,
{
  @include noOutline();
}
select,
select:focus,
select:visited,
select:active:focus,
input,
input:focus,
input:visited,
input:active:focus,
{
  @include noOutline();
}

.sidebar{
  background-color: #fff;
  box-shadow: 1px 1px 7px #ddd;
  height: 100%;
  overflow: hidden;
  position: fixed;
  transition: 0.3s;
  width: 200px;
  z-index: 5;
  ul{
  	padding-left: 0;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 70px;
  	li{
  		list-style-type: none;
      cursor: pointer;
  	}
  	li.logo-li{
  		img.logo{
		    width: 170px;
		    margin-left: 15px;
		    margin-top: 8px;
  		}
      .dismiss-sidebar{
        display: none;
      }
  	}
  	li.nav-link{
  		padding: 1rem 1rem !important;
  		span.link-name{
  			color: #222222;
  			font-size: 15px;
  			font-weight: bold;
        padding: 15px;
  			text-transform: uppercase;
  			.link-icon{
  				font-size: 25px;
  				margin-right: 10px;
  				position: relative;
  				top: 3px;
          width: 30px;
  			}
        .link-icon.long-text{
          margin-left: 20px !important;
        }
  		}
  		span.link-name:hover{
  			text-decoration: none;
  		}
  	}
  	li.nav-link.active,
  	li.nav-link:hover,
  	{
  		background-color: $esLightBlue;
  		span.link-name{
  			@include esThemeBlue();
  		}
  	}
  	li.app-version{
      background-color: $white;
      border-top: 1px solid #eee;
      bottom: 0;
      font-size: 13px;
      padding: 15px 15px 15px 30px;
      position: fixed;
      width: 200px;
  	}
  }
  .system-type{
  	margin-bottom: 20px;
  	margin-top: 25px;
  	.dropdown-toggle{
      @include fontSize(14px);
      font-weight: 600;
	    border-radius: 17px;
	    margin-left: 10px;
	    padding: 3px 20px;
  		background-color: $esBlue !important;
	    width: 180px;
  	}
  	.dropdown-toggle:after{
  		left: 4px;
  		position: relative;
  		top: 4px;
  	}
  	.dropdown-menu{
  		// left: 4px !important;
      width: 180px;
  		.dropdown-item{
  			@include fontSize(14px);
        text-align: center;
        a,span{
          color: #333333;
          font-weight: 600;
        }
        a:hover{
          text-decoration: none;
        }
        a:active,
        span:active
        {
          color: $white;
        }
  		}
  		.dropdown-item:active{
  			background-color: $esBlue;
        a,span{
          color: $white;
        }
  		}
  	}
  }
}
.main-nav{
  &.scrolled{
    background: $esGray;
    box-shadow: -2px 1px 3px #ccc;
    position: fixed;
    transition: 0.3s;
    width: calc(100% - 200px);
    z-index: 3;
  }
	.main-link{
		@include esThemeBlue();
		font-weight: bolder;
	}
	.logout{
		cursor: pointer;
	}
	.user-text,
  .notification-icon
  {
		margin-right: 20px;
    .badge{
      @include fontSize(10px);
      border: 2px solid $esGray;
      left: -9px;
      position: relative;
      top: -15px;
    }
	}
  .toggle-sidebar,
  img.logo,
  .toggle-menu
  {
    display: none;
  }
  .current-user{
    display: none;
  }
  .notification-count{
    display: none;
  }
  .custom-menu{
    display: none;
  }
}
.content{
  background-color: $esGray;
  float: right;
  overflow: hidden;
  position: relative;
  width: calc(100% - 200px);
	.test{
    background-color: green;
    height: 500px;
    margin: 10px;
	}
  .mobile-subsidebar{
    display: none;
  }
}
.sub-sidebar{
  background-color: #eee;
  float: left;
  // height: 100%;
  // overflow-y: auto;
  padding: 10px 10px 70px 15px;
  position: absolute;
  width: 180px;
  .ss-add-btn{
    font-weight: bold;
  }
  ul{
    padding-left: 0;
    li{
      list-style-type: none;
      cursor: pointer;
    }
    li.add-btn-wrap{
      @include  marginB(20px);
    }
    li.page-title{
      @include  marginB(10px);
      margin-top: -7px;
      span{
        font-size: 30px;
        font-weight: bold;
      }
    }
    li.nav-link-header{
      font-size: 16px;
      font-weight: bold;
      padding: 10px 1px;
      pointer-events: none;
      text-transform: uppercase;
      span.link-name{
        color: $black;
      }
    }
    li.divider{
      border-bottom: 1px solid #ababab;
      margin: 20px 15px 15px;
    }
    li.nav-link{
      background-color: #dcdcdc;
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      padding: 1px 15px;
      margin-bottom: 13px;
      span.link-name{
        color: #555;
        font-weight: 600;
        padding: 3px;
      }
      span.link-name:hover{
        text-decoration: none;
      }
    }
    li.nav-link.active,
    li.nav-link:hover
    {
      @include subSideBarActive();
    }
  }
}
.with-subsidebar{
  min-height: calc(100vh - 70px);
  padding-left: 185px;
  padding-top: 50px;
  .page-header{
    .es-main-btn{
      margin-top: -6px;
      margin-left: 20px;
    }
  }
  .advanced-filter{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  .table{
    thead{
      th{
        @include upperCased();
        vertical-align: middle;
      }
    }
    tbody{
      background-color: $white;
      td{
        @include upperCased();
        vertical-align: middle;
        button.btn{
          margin-right: 5px;
          .text-white{
            color: $white;
          }
        }
      }
    }
  }
}

.landing-page{
  .landing-link{
    div.link-wrap{
      background: $esBlue;
      cursor: pointer;
      padding: 40px;
      text-align: center;
      border-radius: 7px;
      .landing-icon{
        @include fontSize(50px);
        color: $white;
        margin-bottom: 20px;
      }
      span{
        @include upperCased();
        color: $white;
      }
    }
  }
  .space1{
    height: 40px;
  }
  .space2{
    height: 30px;
  }
}
.main-link.mobile{
  display: none;
}

/* -- reusable/global styles -- */
.es-main-btn{
  background-color: $esBlue;
  // font-weight: 600;
}
.es-main-btn:hover,
.es-main-btn:active,
.es-main-btn:active:focus,
.es-main-btn:not(:disabled):not(.disabled):active,
{
  background-color: #1331c5;
}
.es-main-btn:focus,
.es-main-btn:disabled,
.es-main-btn.disabled
{
  background-color: $esBlue;
}
.one-input-search{
  @include marginT(15px);
}
.black{
	color: $black;
}
.esBlue{
	@include esThemeBlue();
}
.font10{
  font-size: 10px;
}
.space{
  height: 10px;
}
.space20{
  height: 20px;
}
.spinner-wrap{
  left: 44%;
  position: absolute;
  top: 53px;
  width: 110px;
  z-index: 1;
}
.secondText{
  margin-left: 55px;
}
.tip{
  display: inline-block;
  span {
    display: none
  }
}
.tip:hover span {
  background: #333;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin: 10px;
  padding: 5px;
  position: absolute;
  right: 126px;
  text-align: center;
  text-decoration: none;
  top: 10px;
  z-index: 100;
}
.custom-disabled{
  opacity: 0.7;
  pointer-events: none;
}
.fourZeroFour{
  margin: 100px auto;
  text-align: center;
  width: 300px;
  img{
    margin-bottom: 30px;
  }
}
.align-center{
  text-align: center;
}
.fontSize100{
  @include fontSize(100px);
}
.main-panel{
  overflow: hidden;
  position: relative;
}
.allowScrollX{
  overflow-x: auto;
}
.text-upppercase{
  @include upperCased();
}
.container-fluid:not(.with-subsidebar){
  .page-title{
    margin-top: 8px;
  }
}
.list-group{
  a{
    @include upperCased();
  }
  .list-group-item.active{
    background-color: $esBlue;
    border: 1px solid $esBlue;
  }
}
.page-title{
  @include fontSize(30px);
  font-weight: 600;
  &.landing-page{
    display: none;
  }
  &.inner{
    display: none;
  }
}
.dropdown-item.active{
  background-color: $esBlue;
}
.background-white{
  background-color: $white;
}
.table.user-permissions{
  thead{
    background-color: $white;
    color: $black;
  }
  th, td{
    text-align: center;
    vertical-align: middle;
  }
  th:nth-child(2),
  th:nth-child(3),
  th:nth-child(4),
  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4)
  {
    border: 1px solid #ccc;
  }
}
.logout-wrap{
  background-color: rgba(225,225,225,0.8);
  height: 100%;
  position: fixed;
  width: 100%;
  transition: 1s;
  z-index: 8;
  .inner{
    height: 70px;
    margin: calc( (100vh / 2) - 100px ) auto;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    b{
      color: $black;
    }
  }
}
.disable-scroll{
  overflow: hidden;
}
td.txt-transform-i{
  text-transform: inherit !important; 
}
.es-modal{
  .modal-header{
    background-color: $esBlue;
    .modal-title{
      color: $white;
    }
  }
  input.form-control{
    border: 1px solid #ccc !important;
    &:active,
    &:focus,
    &:active:focus{
      border: 1px solid #111 !important;
    }
  }
  .modal-footer{
    #delete{
      &:focus{
        // background-color: red !important;
        // background-image: linear-gradient(to right, red , orange) !important;
        // transition: 1.5s;
      }
    }
  }
  .modal-content{
    // top: calc((100vh / 2) - 150px);
  }
  &.add-user{
    .modal-content{
      // top: calc((100vh / 2) - 250px);
    }
  }
  &.payment{
    .modal-content{
      // top: calc((100vh / 2) - 280px);
    }
  }
  &.add-model{
    .modal-content{
      // top: calc((100vh / 2) - 200px);
    }
  }
  .modal-footer{
    button.btn{
      width: 130px;
    }
  }
}
.table{
  thead{
    @include upperCased();
    background-color: #02061d;
    color: $white;
    vertical-align: middle;
  }
  td{
    @include upperCased();
  }
}
#toast-container{
  div{
    opacity: 1 !important;
  }
}
/* payments */
.add-payments.mobile{
  display: none;
}

.dataTables_wrapper{
  .dataTables_paginate{
    .paginate_button{
      &:active{
        background-color: $esBlue !important;
        color: $white;
      }
      &:hover{
        background: none !important;
        background-color: $esBlue !important;
        border: 1px solid $esBlue !important;
        color: $white;
      }
      &.disabled{
        &:hover{
          background: none !important;
          background-color: transparent !important;
          border: 1px solid transparent !important;
        }
      }
      &.current{
        border: 1px solid $esBlue !important;;
        &:hover{
          background-color: transparent !important;
          color: $white;
        }
      }
    }
  }
}

.react-select-wrap{
  input{
    text-transform: uppercase !important;
  }
}

/* sales customers */
.select-unit{
  .btn-wrap{
    button{
      margin: 20px 0;
    }
  }
}
/* user permissions list */
.user-permissions-list{
  thead{
    background-color: $white;
    color: $black;
  }
  th, td{
    text-align: center;
    vertical-align: middle;
  }
  th:nth-child(2),
  th:nth-child(3),
  th:nth-child(4),
  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4)
  {
    border: 1px solid #ccc;
  }
  td{
    padding: 0.2rem !important;
    .btn{
      padding: 2px 8px !important;
    }
  }
}


/*
*
scrollbar appearance
*
*/
// ::-webkit-scrollbar {
//   width: 7px;
// }

/* Track */
// ::-webkit-scrollbar-track {
//   background: $esGray; 
// }
 
/* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #ccc;
//   border-radius: 4px;
// }

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #aaa; 
// }


@media screen and (max-width: 415px) {
  .container-fluid{
    min-height: calc(100vh - 50px);
    padding-top: 10px;
  }
  .es-overlay{
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    height: 100%;
    z-index: 4;
  }
  .sidebar{
    // display: none;
    transition: 0.2s;
    width: 0px;
    z-index: 4;
    ul{
      li.logo-li{
        img.logo{
          display: inline-block;
          width: 110px;
          position: absolute;
          left: 40px;
          top: 5px;
          height: 23px;
        }
        .dismiss-sidebar{
          display: inline-block !important;
          font-size: 18px;
          left: 22px;
          position: relative;
          top: 15px;
        }
      }
      .system-type{
        .dropdown-menu{
          left: 1px !important;
        }
      }
      li.app-version{
        bottom: -55px;
        transition: 0.5s;
      }
    }
  }
  .main-nav{
    &.scrolled{
      background: $esGray;
      box-shadow: -2px 1px 3px #ccc;
      position: fixed;
      transition: 0.3s;
      width: 100%;
      z-index: 3;
    }
    padding: 5px;
    .main-link{
      display: none;
    }
    .toggle-sidebar,
    .toggle-menu
    {
      display: inline-block;
    }
    img.logo{
      display: inline-block;
      height: 23px;
      left: 50px;
      position: absolute;
      width: 110px;
    }
    .current-user{
      display: block;
      font-size: 12px;
      max-width: 100px;
      overflow: hidden;
      position: absolute;
      right: 35px;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100px;
    }
    .notification-count{
      display: block;
      height: 30px;
      position: absolute;
      right: -3px;
      top: -7px;
      width: 30px;
      span{
        font-size: 10px;
      }
    }
    .custom-menu{
      background: #fff;
      border-radius: 3px;
      box-shadow: -1px 1px 1px #ccc;
      display: none;
      padding: 5px 0;
      position: absolute;
      right: 5px;
      top: 30px;
      width: 200px;
      z-index: 4;
      &.open{
        display: block;
      }
      ul{
        margin-bottom: 0;
        padding-left: 0;
        li{
          list-style-type: none;
          margin: 10px 0;
          padding: 5px 10px;
          &:active,
          &:focus,
          &:active:focus
          {
            background-color: $esBlue;
            span{
              color: $white;
            }
          }
        }
        li.notifications-link{
          .badge{
            float: right;
            position: relative;
            top: 3px;
          }
        }
      }
    }
  }
  .content{
    width: 100%;
    .sub-sidebar{
      display: none;
    }
    .container-fluid:not(.with-subsidebar){
      .page-title{
        margin-top: 0;
      }
    }
    .with-subsidebar{
      padding-left: 15px;
      padding-top: 10px;
    }
    .mobile-subsidebar{
      display: block;
      .btn-group{
        border: 1px solid $esBlue;
        border-radius: 3px;
        width: 100%;
        .dropdown-toggle{
          background-color: $white;
          color: #111;
          text-align: left;
          &:after{
            float: right;
            position: relative;
            top: 10px;
          }
          &:active:focus,
          &:active,
          &:focus
          {
            background-color: $white;
            color: #111;
          }
        }
        .dropdown-menu{
          width: 100%;
          button{
            a{
              color: #111;
            }
          }
        }
      }
    }
  }
  .main-link.mobile{
    @include fontSize(13px);
    @include upperCased();
    color: $esBlue;
    display: block;
    float: right;
    font-weight: 600;
    position: relative;
    top: 10px;
  }
  .page-title{
    &.landing-page{
      display: block;
      text-align: center;
      margin-top: 20px;
    }
    &.inner{
      display: block;
    }
  }
  .landing-page{
    .landing-link{
      .link-wrap{ 
        margin-bottom: 20px;
        height: 130px;
        .col-6{
          float: left;
        }
        .col-6:last-child{
          span{
            position: relative;
            top: 15px;
          }
          span.financial{
            top: 0;
          }
        }
      }
      &:last-child
      {
        margin-bottom: 40px;
      }
    }
    .space1{
      height: 20px;
    }
    .space2{
      height: 0;
    }
  }
  .advanced-filter{
    input{
      margin-bottom: 10px;
    }
    .space{
      height: 0;
    }
  }
  .es-modal{
    &.add-user{
      .modal-content{
        top: 0;
      }
    }
  }
  /* payments */
  .add-payments{
    display: none;
    &.mobile{
      display: block;
    }
  }

}