
.login-main{
  width: 300px;
  margin: 70px auto;
  .login-inner{
  	padding: 20px;
  	text-align: center;
  	.logo-wrap{
  		@include marginB(40px);
  	}
  	.title-wrap{
  		@include marginB(50px);
  	}
  }
}
.page-footer{
  background: $white;
  bottom: 0;
  border-top: 1px solid #eee;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}